*:root {
    margin:0;
}

html 
body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../images/beachsunset.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 62.5%;
}

.wrapper {
    font-size: 2.5rem;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.7rem;
}
h3 {
    font-size: 3.5rem;
}

header {
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.get_started {
    font-size: 3rem;
    padding: 20px;
    background-color: rgb(232, 227, 227);
    border: none;
    border-radius: 20px;
    transition: all ease-in-out 0.7s;
}

.get_started:hover,
.get_started:active {
    background-color: #9d84b6;
    color: #fff;
}

#main_content {
    min-height: calc(100vh - 30px);
    padding-top: 30px;
   
}

#shibe_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    height: 350px;
    width: 350px;
}

footer {
    height: 30px;
    text-align: center;
}

footer a {
    margin-left: 20px;
  
}
footer a:hover {
    background-color: yellow;
  }
p {
    color: white
}

.questions {
    margin: 30px 0px 30px 20%;
    background-color:#dcbadf ;
    font-size: 150%;
    width: 60%;
    border-style: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px #6a6c84
    ;
}

.questions:hover {
    background-color: #f2c0c3;

}

#submit {
    margin: 20px 0px 5px 40%;
    background-color: #dcbadf;
    font-size: 150%;
    width: 20%;
    border-style: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px #6a6c84;
}

#submit:hover {
    background-color: #f2c0c3;
}

#links {
    font-size: 140%;
    background-color:#fbdcdd;
    width: 80%;
    margin-left: 10%;
}

.questions {
    margin: 30px 0px 30px 20%;
    background-color:#dcbadf ;
    font-size: 100%;
    width: 60%;
    border-style: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px #6a6c84
    ;
}

.questions:hover {
    background-color: #f2c0c3;

}

#submit {
    margin: 20px 0px 5px 40%;
    background-color: #dcbadf;
    font-size: 100%;
    width: 20%;
    border-style: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px #6a6c84;
}

#submit:hover {
    background-color: #f2c0c3;
}

#links {
    font-size: 140%;
    background-color:#fbdcdd;
    width: 80%;
    margin-left: 10%;
}